
<div class ="row">
  <div class="col-md-2"></div>

  <div class="col-md-4 center">
    <div class="jumbotron less_pad">
      <%if @alarms.first.present?%>
        <h3>Next alarm at: <span
            style="color:#428bca;"><%= @alarms.first.wakeup_hour %> : <%= @alarms.first.wakeup_minute %> am</span>.</h4>

      <%else %>
        <h2>You have no alarm.</h2>
        <h4> Click below to create alarm </h3>
        <a href="/alarms/" class="btn btn-danger"> Create Alarm Now !</a>
      <% end %>
    </div>
      <div id="clock" class="light">
        <div class="display">
            <div class="weekdays"></div>
            <div class="ampm"></div>
            <div class="alarm"></div>
            <div class="digits"></div>
        </div>
      </div><br><br>
    <div class="button-holder">
        <a id="switch-theme" class="button">Switch Theme</a>
        <a class="alarm-button"></a>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="jumbotron less_pad">
      <h3>"Zleep-science"</b> will help you set your alarm <i>right</i> and offers <i>relaxing</i> music to help you fall asleep.
    Get started with the menu at the <b><i>top-right</i></b> of the screen!</p></h3><br>
    </div>
  </div>
  
  <div class="col-md-2"></div>

</div>



<div class="overlay">

      <div id="alarm-dialog">

        <h2>Set alarm for</h2>

        <label class="hours">
          Hours
          <input type="number" value="0" min="0" />
        </label>

        <label class="minutes">
          Minutes
          <input type="number" value="0" min="0" />
        </label>

        <label class="seconds">
          Seconds
          <input type="number" value="0" min="0" />
        </label>

        <div class="button-holder">
          <a id="alarm-set" class="button blue">Set</a>
          <a id="alarm-clear" class="button red">Clear</a>
        </div>

        <a class="close"></a>

      </div>

    </div>

    <div class="overlay">

      <div id="time-is-up">

        <h2>Time's up!</h2>

        <div class="button-holder">
          <a class="button blue">Close</a>
        </div>

      </div>

    </div>

    <audio id="alarm-ring" preload>
      <source src="/assets/ticktac.mp3" type="audio/mpeg" />
      <source src="/assets/ticktac.ogg" type="audio/ogg" />
    </audio>
