<script type="text/javascript">
	
var dots = 0;
    
$(document).ready(function()
{
    setInterval (type, 600);
});

function type()
{
    if(dots < 3)
    {
        $('#dots').append('.');
        dots++;
    }
    else
    {
        $('#dots').html('');
        dots = 0;
    }
}

</script>

<div class="row center"><br><br><br>
	<div class="col-md-2"></div>
	<div class="col-md-8">
		

		<h1><b> Zleep is currently:</b></h1><br>
		<hr>
		<br>
		<h2>Texting  <%= @user.first_name %> <%= @user.last_name %> <span id="dots"></span></h2>

        <br><br><br>
        <a href="/welcome/demo" class="btn btn-warning">Back to Demo</a>
	</div>
	<div class="col-md-2"></div>

</div>


