.alarm_box
{
    background-color: #2980B9;
    padding-top:6px;
    margin: 2px;
    margin-bottom: 5px;
}

.reminder_text
{
    font-size: 13px;
}
.alarm_type_text
{
    font-size: 16px;

}

.small_font
{
    font-size: 8px;
}

.less_pad
{
    padding-top: 10px;
    padding-bottom: 10px
}

.carosel_text
{
    color: #000000;
    font-weight: 800;
    line-height: 1.1;
}

.alarm_type
{
    background-color: #3498DB;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    padding-left:18px;
    height: 120px;

}

.alarm_time
{
    font-size: 25px;
    font-family: inherit;
    font-weight: 800;
    line-height: 1.1;
    color: #C0392B;
}

.alarm_title
{
    font-size: 25px;
    font-family: inherit;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
    padding-bottom: 2px;
}

.dayofweeks
{
    font-size: 15px;
}

.alarm_content
{
    background-color:  #ECF0F1;
    padding: 7px;
    height: 120px;

}

body {
    padding-top: 90px;
}

.title
{
    margin-top:100px;
    margin-bottom:0px;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0px;
    background-color: #000000;
    color: #FFFFFF;
}

.container.myAlarms {
    max-width: 870px;
    min-width:410px;
}


.title_top {
  font-family:'Bariol-Bold';
  font-size: 28pt;
}


#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
    opacity:1;
}
