@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
body
{
  background-color: #f9f9f9;
  color:#5b5f68;
}

.carousel-caption
{
    background-color:#000000;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

#goTop{
  padding:5px;
  position:fixed;
  bottom: 20px;
  right:10px;
}

.main_content
{

  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.alarm_box
{

border-radius: 5px;
border: 1px solid;
border-color: #ccc; 
  padding-top:6px;
  margin: 2px;
  margin-bottom: 5px;
}


.reminder_text
{
  font-size: 10px;
}
.alarm_type_text
{
  font-size: 16px;

}

.small_font
{
  font-size: 8px;
}

.less_pad
{
  padding-top: 10px;
  padding-bottom: 10px
}

.carosel_text
{
  color: white;
  font-weight: 800;
  line-height: 1.1;
}

.alarm_type_background
{

  height: 120px;

}

.alarm_type
{
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;

}

.alarm_time
{
  font-size: 25px;
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  color: #C0392B;
}

.alarm_title
{
  font-size: 25px;
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  color: inherit;
  padding-bottom: 2px;
}

.dayofweeks
{
  font-size: 11px;
}

.alarm_content
{
  
  padding: 7px;


}


.title
{
  margin-top:100px;
  margin-bottom:0px;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 0px;
  background-color: #000000;
  color: #FFFFFF;
}

.container.myAlarms {
  max-width: 870px;
  min-width:410px;
}


.title_top {
  font-family:'Bariol-Bold';
  font-size: 28pt;
}


#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
  opacity:1;
}

/* title */
#top > div > div.navbar-header > a {
  color:#f26149;

}

/* carousel */
.login_center {
margin-top:75px;
margin-bottom: 60px;
}


a:visted  a:hover {
background-color:none;
}

.navbar{
  min-height:20px;
  
}

.navbar-default .navbar-nav>li>a {
color:#67666a;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:normal;
}

.login-label {
  font-family:'Bariol-Regular';
  font-size: 28pt;
  color: #6e6e6e;
  margin-bottom:45px;

}

.btn-login {
  float:right;
}

.remember_me_label {
  color:#8c8c8c;
  font-weight: 500;
}

#user_email {
  max-width:300px;
}

#user_password {
  max-width: 300px;
}

.login_section {  
  width:300px;
  margin-left:25px;
}


/* pretty wave */
.c { overflow: hidden; margin: 0; width: 100%; height: 55%; }
.c { background: #fbfbfb; }



#canvasesdiv {
position: absolute;
left:0px;
top:0px;
}

.canvas-layer {
   position:absolute;
    bottom:0px;
    right:0px;
}

body > div.container.main_content > div.row > div.col-md-4.center > div.jumbotron.less_pad > a {
color: white;
}
